---
permalink: /resume/
---

<!DOCTYPE html>
<html lang="en">

{% include "resume/head.html" %}

<body>

    {% include "resume/header.html" %}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">

            {% include "resume/about.html" %}

            {% include "resume/skills.html" %}

            {% include "resume/experience.html" %}

            {% include "resume/education.html" %}

        </div>
    </main>

    {% include "resume/footer.html" %}

</body>

</html>
