<div class="user-details">
  <h1>About Me</h1>
  <p>
    I solve problems by designing, developing, and maintaining great software.
    Whether it's leading a team or being a great supporter, I am constantly
    working to improve myself, the quality of my work, and the people around me.
  </p>

  <h1>My Skills</h1>
  <p>
    I'm a technical lead and full stack developer with deep expertise working
    remotely with globally distributed clients and teams. I have experience
    delivering mobile, web, cloud native applications, as well as cloud and
    platform enablement.
    <br /><br />
    For more details on my skills and experience, see
    <a class="link" href="/resume">my resume</a>.
  </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Languages</h2>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-csharp-plain-wordmark colored"></i>
    <i class="devicon-kotlin-plain colored"></i>
    <p>JavaScript, C#, Kotlin, Java</p>
  </div>
  <div class="tech">
    <h2>Frameworks</h2>
    <i class="devicon-dot-net-plain-wordmark colored"></i>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-nodejs-plain colored"></i>
    <p>.NET, React, Angular, Node.js</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain"></i>
    <i class="devicon-visualstudio-plain colored"></i>
    <i class="devicon-intellij-plain colored"></i>
    <p>Git, Visual Studio, IntelliJ</p>
  </div>
</div>
