<div class="user-details">
  <h1>About Me</h1>
  <p>
    I help clients solve problems by developing and maintaining great software.
    My passion for learning has driven me to work with all sorts of technologies
    in all sorts of industries. Whether it's leading a team or being a great
    supporter, I am constantly working to improve myself, the quality of my
    work, and the people around me.
  </p>

  <h1>My Skills</h1>
  <p>
    I'm a full stack developer with a focus on front end development. I've also
    shipped native and hybrid mobile applications on the Apple and Android
    platforms.
  </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <i class="devicon-bootstrap-plain colored"></i>
    <i class="devicon-html5-plain colored"></i>
    <i class="devicon-css3-plain colored"></i>
    <p>Bootstrap, HTML5, CSS3, SASS, Angular Material</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-dot-net-plain-wordmark colored"></i>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-angularjs-plain colored"></i>
    <p>.NET, React, Angular, Node.js</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain"></i>
    <i class="devicon-visualstudio-plain colored"></i>
    <i class="devicon-webpack-plain colored"></i>
    <p>Git, Visual Studio, Webpack, NPM</p>
  </div>
</div>
