<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="yeti" src="{{ "/assets/img/yeti.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Yeti Custom Shop </h3>
    <p>Yeti Custom Shop is a fully custom e-commerce application layered on top of a enterprise-level, cloud-based ERP.
      We were brought on to help with cross-browser compatibility, feature development, and to help prepare for major
      marketing initiatives.</p>
    <a class="project-link" target="_blank" href="http://yeticustomshop.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="carrington" src="{{ "/assets/img/carrington.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Carrington Connects </h3>
    <p>Carrington Connects (now Vylla) helps people find homes, get loans, and provides resources for home owners. We delivered
      groundbreaking new
      features, including integrating with a custom Salesforce implementation and allowing users to shop for homes by
      an estimated monthly payment amount.</p>
    <a class="project-link" target="_blank" href="https://www.carringtonconnects.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="carrington" src="{{ "/assets/img/vh.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Volunteer Houston </h3>
    <p>The Volunteer Houston organization wanted a mobile application that would allow people to seach for volunteering
      opportunities near them. Built with <a target="_blank" href="https://www.xamarin.com/forms">Xamarin Forms</a>,
      the app was easily ported to both iOS and Android platforms, and allowed users to search for, get additional
      information about, and RSVP for volunteer opportunities.</p>
    <a class="project-link" target="_blank" href="https://itunes.apple.com/us/app/volunteerhou/id1153250051?mt=8">Check
      it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="usbc" src="{{ "/assets/img/usbc.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> USBC Event Registration</h3>
    <p>The United States Bowling Congress (USBC) is the national governing body for ten-pin in the United States. Working to serve a variety of users, we designed & built an event registration system to setup and manage the various types of tournaments the conducted by the organization. </p>
    <a class="project-link" target="_blank" href="https://webapps.bowl.com/USBC.Registration/">Check it out</a>
  </div>
</div>