<div class="user-details">
  <h1>About Me</h1>
  <p>{{ site.data.about.content | strip | markdownify }}</p>

  <h1>My Skills</h1>
  For full details on my skills and experience, see
  <a class="link" href="/resume">my resume</a>.
</div>
<div class="user">
  <div class="tech">
    <h2>Languages</h2>
    <i class="devicon-csharp-plain-wordmark colored"></i>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-kotlin-plain colored"></i>
    <p>C#, JavaScript, Kotlin</p>
  </div>
  <div class="tech">
    <h2>Frameworks</h2>
    <i class="devicon-dotnetcore-plain colored"></i>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-angularjs-plain colored"></i>
    <p>.NET Core, React, Angular</p>
  </div>
  <div class="tech">
    <h2>Tooling</h2>
    <i class="devicon-visualstudio-plain colored"></i>
    <i class="devicon-docker-plain-wordmark colored"></i>
    <i class="devicon-azuredevops-plain colored"></i>
    <p>Visual Studio, Docker, Azure DevOps</p>
  </div>
</div>
