<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if description %}{{ description | strip_html | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/npm/@dev.icons/core@1.1.0/dist/font/devicons.css" integrity="sha384-Iq+tKs5pu9C8K79BEtBCQyDHzcUQS2ZwNDsqZ3i0Akqs1xx7E5SREhqctSW31zMl" crossorigin="anonymous" />
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
