<div class="user-projects">
  {%- if item.layout == "right" -%}
  <div class="images-left">
  {%- endif -%}
  {%- if item.layout == "left" -%}
  <div class="images-right">
  {%- endif -%}
    <img alt="{{ item.img_alt_text }}" src="{{ item.img_path }}" />
  </div>
  {%- if item.layout == "right" -%}
  <div class="contents-right">
  {%- endif -%}
  {%- if item.layout == "left" -%}
  <div class="contents-left">
  {%- endif -%}
    <h3> {{ item.title }} </h3>
    <p>{{ item.description | strip | markdownify }}</p>
    <a class="project-link" target="_blank" href="{{ item.url }}">Check it out</a>
  </div>
</div>
